


:root {
    background-color: rgb(255,246,227);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 62.5%;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
    background-color: rgb(255,246,227);
}

.navbar {
  background-color: #009C5E;
  
}

.nav-link {
    text-transform: uppercase;
    font-weight: 600; 
    letter-spacing: .2rem;  
}


 .nav-link ,.navbar-brand{
    color: #fff;
    font-size: 1.8rem;
    padding: 3rem;
}

a.nav-link:hover {
    color: #efefef;
}


.navbar-toggler:focus, .navbar-toggler:active {
    outline: 0;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar.scrolled {
    background-color: #009C5E;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.line {
    height: 2px;
    position: absolute;
    margin: 10px 0 0 0;
    background: #efefef;
}

.nav-item {
    margin: 0 40px 0 0;
    opacity: .4;
    transition: all 0.4s ease;
}

.nav-item:hover {
    opacity: .7;
}

.nav-item.active {
    opacity: 1;
}

.nav-item:last-child {
    margin-right: 0;
}

.fa-bars {
    color: #efefef;
    font-size: 1.8rem;
}

button:focus {
    outline: none;
}

.fa-times {
    color: #efefef;
    font-size: 1.8rem;
}

.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.li-group {
    display: flex;
}