


:root {
    background-color: rgb(255,246,227);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 62.5%;
   font-family: sans-serif;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
    background-color: rgb(255,246,227);
}

.navbar {
  background-color: #009C5E;
  
}

#logo {
    height: 5rem;
    width: 5rem;
}

.fa-home, .fa-user, .fa-bus, .fa-glass-whiskey {
    font-size: 1.8rem;
    
}


.li-group .nav-link {
    position: relative;
    display: block;
    padding: 20px 0;
    transition: all 0.3 ease;
}

.li-group .nav-link:hover {
    color: #FFAD52;
}

.li-group .nav-link::before {
      content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c
}

.li-group .nav-link:hover::before {
    right: 0;
    left: 0;
}


.nav-link {
    text-transform: uppercase;
    font-weight: 600; 
    letter-spacing: .2rem;  
    
}


 .nav-link ,.navbar-brand{
    color: #fff;
    font-size: 1.8rem;
    padding: 3rem;
}

a.nav-link:hover {
    color: #efefef;
}


.navbar-toggler:focus, .navbar-toggler:active {
    outline: 0;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar.scrolled {
    background-color: #009C5E;
}

.navbar-toggler {
    border: none;
    outline: none;
}


.fa-bars {
    color: #efefef;
    font-size: 1.8rem;
}

button:focus {
    outline: none;
}

.fa-times {
    color: #efefef;
    font-size: 1.8rem;
}

.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.li-group {
    display: flex;
}