
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700&display=swap');




.navbar {
  background-color: #009C5E;
   -webkit-box-shadow: 0px 8px 12px -2px #fff;
    box-shadow: 0px 8px 12px -2px #fff;
  
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem;
}

#logo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
     box-shadow: 0px 0px 0px 5px #FFAD52;
}

.fa-home, .fa-user, .fa-bus, .fa-glass-whiskey {
    font-size: 1.5rem;
    
}


.li-group .nav-link {
    position: relative;
    display: block;
    padding: 20px 0;
    transition: all 0.3 ease;
}

.li-group .nav-link:hover {
    color: #FFAD52;
}

.li-group .nav-link::before {
      content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c
}

.li-group .nav-link:hover::before {
    right: 0;
    left: 0;
}


.nav-link {
    text-transform: uppercase;
    font-weight: 600; 
    letter-spacing: .2rem;  
    
}

 .nav-link {
    color: #fff;
    font-size: 1rem;
    padding: 3rem;
}

a.nav-link, .navbar-brand:hover {
    color: #efefef;
}


.navbar-toggler:focus, .navbar-toggler:active {
    outline: 0;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar.scrolled {
    background-color: #009C5E;
}

.navbar-toggler {
    border: none;
    outline: none;
}


.fa-bars {
    color: #efefef;
    font-size: 1.8rem;
}

button:focus {
    outline: none;
}

.fa-times {
    color: #efefef;
    font-size: 1.8rem;
}

.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.li-group {
    display: flex;
}



/* Hero img */

.hero {
   position: relative;
}

.hero .hero-img {
  background-size: cover;
    height: auto;
    width: 100%;
    min-height: 58rem;
    max-height: 88rem;
    margin-top: -21rem;
   
}

.jumbotron {
    position: absolute;
    top: 18rem;
    padding: 0.8rem 1rem;
    margin: 1rem;
    border-radius: 1.2rem;
    background: rgba(238, 227, 227, 0.8);
    opacity: 0.8;
    justify-content: center;
}

/* Cards */



.tour {
    font-size: 4rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
    color: #009C5E;
    text-shadow: -2px -2px 0 #FFAD52, 2px -2px 0 #FFAD52, -2px 2px 0 #FFAD52, 2px 2px 0 #FFAD52, -3px 0 0 #FFAD52, 3px 0 0 #FFAD52, 0 -3px 0 #FFAD52, 0 3px 0 #FFAD52;
}

#sharmrock {
    height: 3.2rem;
}

 h3, p {
    font-size: 1rem;
}



h3 {
    color: #009C5E;
}

.card-outline-primary {
    border-radius: 3.2rem;
    padding: 2rem;
    box-shadow: 7px 7px 7px 0px rgba(255,173,82,0.75);
-webkit-box-shadow: 7px 7px 7px 0px rgba(255,173,82,0.75);
-moz-box-shadow: 7px 7px 7px 0px rgba(255,173,82,0.75);
}

.card-img {
    width: 100%;
    height: 18rem;
    margin: 0.7rem;
}

.card-title {
    font-size: 2rem;
    color: #009C5E;
     text-shadow: -1px -1px 0 #FFAD52, 1px -1px 0 #FFAD52, -1px 1px 0 #FFAD52, 1px 1px 0 #FFAD52, -2px 0 0 #FFAD52, 2px 0 0 #FFAD52, 0 -2px 0 #FFAD52, 0 2px 0 #FFAD52;
}

.btn, .btn-1 {
    
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1rem;
    background-color: #FFD06C;
    border-radius: 2rem;
    border: 1px solid #009C5E;
    width: 9rem;
}

.btn:hover, .btn-1:hover {
   background-color: #FFAD52;
   color: #fff;
}

.btn-1 {
   margin-left: 5px;
}


/* Footer */

.footer {
    background-color: #009C5E;
}

#p-footer {
    color: #fff;
}

.btn-link {
    border: 1px solid #fff;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    font-size: 1.2rem;
    color: #009C5E;
}



@media (max-width: 768px) {
    #logo {
        height: 2rem;
        width: 2rem;
    }
    .navbar-brand {
       font-size: 1rem;
       padding: 1rem;
}

.tour {
    font-size: 1.6rem;
    
}

.card-outline-primary {
    padding: 1rem;
    height: 30rem;
}

.card-img {
   
    height: 15rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
} 

.btn, .btn-1  {
    width: 9rem;
    margin-top: 0.2rem;
}


}





@media (max-width: 1024px) {
.card-img {
    margin-top: 2rem;
    height: 13rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
} 
.card-outline-primary {
    padding: 1rem;
}
 
.btn, .btn-1  {
    width: 11rem;
    margin-top: 0.2rem;
}

}

@media (min-width: 1800px) {
    .btn, .btn-1  {
    width: 14rem;
    margin-top: 0.2rem;
}

.card-outline-primary {
    
    height: 40rem;
}
}

/* carousel dublin page */

.dublin-tour {
    margin-top: 6rem;
    color: #009C5E;
    max-width: 45rem;
}

/* style Map */

#mapid {
    margin-top: 2rem;
    min-height: 25rem;
}