{% extends "base.html" %}

{% block title %}
    <title>Cork</title>
{% endblock %}

{% block head %}
     <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <!-- load Leaflet JS-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
     <link rel="stylesheet" href="static/css/style.css">
     <link rel="stylesheet" href="static/css/description.css">

{% endblock %}

 
{% block content%}
 

    <!-- Main section -->
        <h1 class="text-center" id="des-title"><img src="static/images/hat .png" alt="paddy-hat"></h1>



 <div class="container-fluid">
     <div class="row">
         <div class="col-sm-6">
             <img class="img-thumbnail side-img" src="static/images/cork-bg.jpg" alt="Cork">
         </div>
         <div class="col-sm-6">
             <h3 class="main-title text-center">Welcome to Cork</h3>
      <p class="par-description">When planning a trip to Ireland, Dublin and Galway are two of the main destinations that spring to mind. But Cork should be on any list, too. Located in the southwest of the country, it’s Ireland’s biggest county and has the second most populous city. The River Lee runs through it, and Cork is on the coast, too — so there are plenty of unspoiled beaches with big skies. Not only does Cork, also known as the Rebel County, have some terrific dining spots and activities in the city itself, but there are also loads of fun, interesting and magical things to do and see nearby. From its dramatic coastline to kissing the Blarney stone and visiting the Titanic’s “last port of call” — there’s something for everyone. And you will certainly pick up some interesting turn of phrases along the way.
      So here are our picks of the best spots and some insider tips for your first — or maybe return — visit.</p>
         </div>
     </div>
 </div>

    <div id="mapid"></div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>   


<!-- load map script -->
<script src="static/js/script.js"></script>


{% endblock %}